[alias]
	alias = !sh -c 'git config --get-regexp ^alias. | sed s/^alias.//'
	P = push --force
	a = add
	au = add --update
	bb = bisect bad
	bg = bisect good
	bl = blame
	br = bisect restart
	bs = bisect start
	c = commit
	ca = commit --amend
	cam = commit --all --message
	cb = branch
	ceF = commit --edit --file=.git/COMMIT_EDITMSG
	cg = config --global
	cm = commit --message
	co = checkout
	cr = revert
	czp = stash pop --index
	czz = stash push
	d = diff
	ds = diff --staged
	f = fetch
	g = grep
	gu = grep '^[<\\|=>]\\{7\\}'
	l = log --graph --oneline
	mt = mergetool
	p = push
	r = rebase
	ro = rebase --onto
	rsH = reset --hard
	u = reset
	y = stash
[commit]
	gpgsign = true
	verbose = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = less --quit-if-one-screen
[diff]
	tool = vimdiff
[fetch]
	prune = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/git/github.com/sharils/home/gitignore.allowedSignersFile
[grep]
	lineNumber = true
[include]
	path = ~/git/github.com/sharils/home/gitignore.gitconfig
	path = ~/git/github.com/sharils/home/vim-conflicted.gitconfig
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[rebase]
	missingCommitsCheck = error
