.DS_Store
.envrc
Session.vim
__pycache__
tags
gitignore.*
/.bash_it_custom/aliases/_custom.aliases.bash
/.bash_it_custom/aliases/custom.aliases.bash
/.bash_it_custom/completion/custom.completion.bash
/.bash_it_custom/plugins/custom.plugins.bash
/.dbshell
/.mongorc.js
/.todo
/.vim/.netrwhist
/.vim/plugged/*
!.vim/plugged/after
!.vim/plugged/before
/doc/tags
