[submodule ".vim/bundle-available/Colour-Sampler-Pack"]
	path = .vim/bundle-available/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule ".vim/bundle-available/Dockerfile.vim"]
	path = .vim/bundle-available/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle-available/YouCompleteMe"]
	path = .vim/bundle-available/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle-available/ale"]
	path = .vim/bundle-available/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle-available/auto-pairs"]
	path = .vim/bundle-available/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle-available/erlang-motions.vim"]
	path = .vim/bundle-available/erlang-motions.vim
	url = https://github.com/vim-erlang/erlang-motions.vim.git
[submodule ".vim/bundle-available/fzf.vim"]
	path = .vim/bundle-available/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle-available/nerdcommenter"]
	path = .vim/bundle-available/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle-available/pegjs-vim"]
	path = .vim/bundle-available/pegjs-vim
	url = https://github.com/alunny/pegjs-vim
[submodule ".vim/bundle-available/php.vim"]
	path = .vim/bundle-available/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle-available/phpcomplete.vim"]
	path = .vim/bundle-available/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle-available/rust.vim"]
	path = .vim/bundle-available/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle-available/tabular"]
	path = .vim/bundle-available/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle-available/tagbar"]
	path = .vim/bundle-available/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle-available/tagbar-phpctags.vim"]
	path = .vim/bundle-available/tagbar-phpctags.vim
	url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule ".vim/bundle-available/tern_for_vim"]
	path = .vim/bundle-available/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle-available/ultisnips"]
	path = .vim/bundle-available/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle-available/vim-abolish"]
	path = .vim/bundle-available/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle-available/vim-cucumber"]
	path = .vim/bundle-available/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle-available/vim-dispatch"]
	path = .vim/bundle-available/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle-available/vim-easymotion"]
	path = .vim/bundle-available/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle-available/vim-elixir"]
	path = .vim/bundle-available/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/bundle-available/vim-erlang-omnicomplete"]
	path = .vim/bundle-available/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule ".vim/bundle-available/vim-flow"]
	path = .vim/bundle-available/vim-flow
	url = https://github.com/flowtype/vim-flow.git
[submodule ".vim/bundle-available/vim-fugitive"]
	path = .vim/bundle-available/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle-available/vim-javascript"]
	path = .vim/bundle-available/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle-available/vim-json"]
	path = .vim/bundle-available/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle-available/vim-jsx"]
	path = .vim/bundle-available/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/bundle-available/vim-markdown"]
	path = .vim/bundle-available/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle-available/vim-misc"]
	path = .vim/bundle-available/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle-available/vim-node"]
	path = .vim/bundle-available/vim-node
	url = https://github.com/moll/vim-node.git
[submodule ".vim/bundle-available/vim-obsession"]
	path = .vim/bundle-available/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle-available/vim-pathogen"]
	path = .vim/bundle-available/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle-available/vim-rhubarb"]
	path = .vim/bundle-available/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle-available/vim-shebang"]
	path = .vim/bundle-available/vim-shebang
	url = https://github.com/vitalk/vim-shebang.git
[submodule ".vim/bundle-available/vim-surround"]
	path = .vim/bundle-available/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle-available/vim-test"]
	path = .vim/bundle-available/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule ".vim/bundle-available/devdocs.vim"]
	path = .vim/bundle-available/devdocs.vim
	url = https://github.com/rhysd/devdocs.vim.git
