.DS_Store
Session.vim
__pycache__
/.bash_it_custom/aliases/custom.aliases.bash
/.bash_it_custom/completion/custom.completion.bash
/.bash_it_custom/plugins/custom.plugins.bash
/.vim/.netrwhist
/.vim/plugged/*
!.vim/plugged/after
!.vim/plugged/before
/doc/tags
