[commit]
	gpgsign = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[merge]
	conflictstyle = diff3
	tool = vim-conflicted
[mergetool]
	keepBackup = false
[mergetool "vim-conflicted"]
	cmd = vim +Conflicted
