snippet ) "()" i
(
	$1
)
endsnippet

snippet ] "[]" i
[
	$1
]
endsnippet

snippet } "{}" i
{
	$1
}
endsnippet

snippet dt "%Y-%m-%d %H:%M:%S" w
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet sb "snip.basename" i
`!p snip.rv = snip.basename`
endsnippet

snippet #! "#!" b
#!/usr/bin/env ${1:sh}
endsnippet
