snippet ) "()" i
(
	$1
)
endsnippet

snippet ] "[]" i
[
	$1
]
endsnippet

snippet } "{}" i
{
	$1
}
endsnippet

snippet dt "%Y-%m-%d %H:%M:%S" w
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet %p. "%:p:." i
`!v expand("%:p:.")`
endsnippet

snippet %tr "%:t:r" i
`!v expand("%:t:r")`
endsnippet

snippet #! "#!" b
#!/usr/bin/env ${1:sh}
endsnippet
