extends common, clike, javalike, strictequal

snippet e "echo" w
echo $1
endsnippet

snippet pe "php echo" b
<?= ${1:false} ?>
endsnippet

snippet ph "<?php" b
<?php

endsnippet

snippet php "<?php?>" b
<?php $1 ?>
endsnippet

snippet hp "?>" b
?>
endsnippet
