snippet h "html" "len(snip.buffer) == 1" e
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>$1</title>
	</head>
	<body>
		$2
	</body>
</html>
endsnippet

snippet l "link" b
<link rel="stylesheet" type="text/css" href="${1:index}.css" />
endsnippet

snippet ss "script" w
<script src="$1"></script>
endsnippet

snippet st "style" w
<style type="text/css">$1
</style>
endsnippet
