priority 4

snippet d "def" b
def $1($2):
	$3
endsnippet

snippet r "return" b
return
endsnippet

snippet utf8 "# coding=utf-8" b
# coding=utf-8
endsnippet


priority 3

snippet F "False" w
False
endsnippet

snippet N "None" w
None
endsnippet

snippet T "True" w
True
endsnippet

snippet a "and" w
and $0
endsnippet

snippet eif "elif" w
elif $0:
endsnippet

snippet el "else" w
else:
endsnippet

snippet o "or" w
or $0
endsnippet
