global !p
import re
def singular(word):
	return re.sub(r'(s|es)$', '', word)
endglobal


priority 4

snippet /^a/ "alias" r
alias $1='$2'
endsnippet


priority 3

snippet $P "$PIPESTATUS[0]" b
$PIPESTATUS[0]
endsnippet

snippet e "export" b
export
endsnippet

snippet export "export" b
export $1='$2'
endsnippet

snippet fun "fun() {}" b
${1:f}() {
	${2::}
}
endsnippet

snippet if "if" b
if [ $1 ]$2; then
	${3::}
fi
endsnippet

snippet seto "set -o pipefail" b
set -o pipefail
endsnippet

snippet scd "# shellcheck disable=" b
# shellcheck disable=
endsnippet


priority 2
snippet << "<<'HEREDOC'" w
<<'${1:SHELL}'
$1
endsnippet

snippet sed "sed -i" w
sed -i."$(date +%Y-%m-%dT%H:%M:%S%z)" $0
endsnippet


priority 1

snippet $ "$" i
"$$1"
endsnippet

snippet # "$#" i
\$#
endsnippet

snippet 0 "$0" i
\$0
endsnippet

snippet 1 "$1" i
\$1
endsnippet

snippet 2 "$2" i
\$2
endsnippet

snippet 3 "$3" i
\$3
endsnippet

snippet 4 "$4" i
\$4
endsnippet

snippet 5 "$5" i
\$5
endsnippet

snippet 6 "$6" i
\$6
endsnippet

snippet 7 "$7" i
\$7
endsnippet

snippet 8 "$8" i
\$8
endsnippet

snippet 9 "$9" i
\$9
endsnippet

snippet seda "sed append" i
"$(printf 'a\\\n%s' "$1")"
endsnippet

snippet seds "sed s" i
s$1$2$3
endsnippet

snippet sed/ "sed/" i
\$1
endsnippet

snippet $p "$(printf)" i
"$(printf $1)"
endsnippet
