extends javascript

priority 2

snippet de "declare" w
declare $0
endsnippet

snippet en "enum" w
enum $1 {
	$2
}
endsnippet

snippet ne "never" w
never
endsnippet

snippet pu "public" w
public $0
endsnippet

snippet pro "protected" w
protected $0
endsnippet

snippet # "private" w
private $0
endsnippet

snippet ro "readonly" w
readonly $0
endsnippet

snippet un "unknown" w
unknown
endsnippet

snippet RA "ReadonlyArray<T>" w
ReadonlyArray<$1>
endsnippet

snippet ty "type" b
type
endsnippet
