extends boolean

priority 5

snippet m "matches" b
matches:
endsnippet

snippet sh "type: shell" b
- trigger: ${1:ip},.
	replace: "{{$1}}"
	vars:
		- name: $1
			type: shell
			params:
				cmd: "${1:ipconfig getifaddr en0}"
endsnippet

snippet t "trigger" b
- trigger: $1,.
	replace: $2
endsnippet


priority 3

snippet $ "$|$" i
$|$
endsnippet
