extends boolean

snippet dsu "Daily Stand-up" b
`! date +%F`:
	Tomorrow: 🌈
		- $5
	Grateful: 🙇
		- I’m grateful ${2:TODO}.
	Today:
		- $3
	Health:
		- $4
	Time:
		- I woke up at ${1:TODO}.
		- I went to bed at ${5:TODO}.
endsnippet

snippet rs "Retrospective" b
`! date +%Y-W%V`:
	Loved: ✅
		- $1
	Loathed: ❌
		- $2
	Learned: 📘
		- $3
	Longed for: ⭐️
		- $4
endsnippet
