priority 2

snippet jquery "jQuery" w
jQuery
endsnippet

snippet js "JavaScript" w
JavaScript
endsnippet

snippet readme "README" w
README
endsnippet

snippet mysql "MySQL" w
MySQL
endsnippet

snippet pg "PostgreSQL" w
PostgreSQL
endsnippet
