# realpath "$(which lynx)" | sed 's#bin/lynx$#etc/lynx.cfg#'
INCLUDE:/opt/homebrew/Cellar/lynx/2.8.9rel.1_1/etc/lynx.cfg

ACCEPT_ALL_COOKIES:TRUE

CHARACTER_SET:utf-8

# COOKIE_ACCEPT_DOMAINS:127.0.0.1

# COOKIE_REJECT_DOMAINS:google.com,.wikidata.org,www.wikidata.org,.wikipedia.org,en.wikipedia.org

DEFAULT_BOOKMARK_FILE:./.lynx/lynx_bookmarks.html

DEFAULT_EDITOR:$EDITOR

HELPFILE:file:///~/git/github.com/sharils/home/lynx_help/lynx_help_main.html

USE_MOUSE:TRUE

VI_KEYS_ALWAYS_ON:TRUE
