snippet cl "class" w
class $1 {
}
endsnippet

snippet co "constructor" w
constructor($1) {
}
endsnippet

snippet ex "extends" i
extends $2
endsnippet

snippet ge "getter" w
get $1() {
}
endsnippet

snippet im "instance method" w
$1($2) {
}
endsnippet

snippet se "setter" w
set ${1}($1) {
}
endsnippet

snippet sm "static method" w
static $1($2) {
}
endsnippet

snippet tos "toString" w
toString() {$1
}
endsnippet

snippet vof "valueOf" w
valueOf() {$1
}
endsnippet
