snippet oai "Object.assign" w
Object.assign($1)
endsnippet

snippet oke "Object.keys" w
Object.keys($1)
endsnippet

snippet oho "Object.prototype.hasOwnProperty" w
Object.prototype.hasOwnProperty.call($1)
endsnippet
