global !p
from my_snippet_helpers import *
endglobal


priority 3

snippet expect "expect" b
expect($1)
endsnippet

snippet tde "describe" b
describe("$1", () => {
	$2
})
endsnippet

snippet tex "expect" b
expect
endsnippet

snippet tit "it" b
it("$1", () => {
	$2
})
endsnippet
