global !p
from my_snippet_helpers import *
endglobal


priority 4

snippet t "toContain" "around_expect(snip)" we
toContain($1)
endsnippet

snippet t "toContainEqual" "around_expect(snip)" we
toContainEqual($1)
endsnippet

snippet t "toEqual" "around_expect(snip)" we
toEqual($1)
endsnippet

snippet t "toMatch" "around_expect(snip)" we
toMatch($1)
endsnippet

snippet t "toMatchInlineSnapshot" "around_expect(snip)" we
toMatchInlineSnapshot($1)
endsnippet

snippet t "toMatchObject" "around_expect(snip)" we
toMatchObject($1)
endsnippet

snippet t "toMatchSnapshot" "around_expect(snip)" we
toMatchSnapshot($1)
endsnippet

snippet t "toStrictEqual" "around_expect(snip)" we
toStrictEqual($1)
endsnippet

snippet t "toThrow" "around_expect(snip)" we
toThrow($1)
endsnippet

snippet t "toThrowErrorMatchingInlineSnapshot" "around_expect(snip)" we
toThrowErrorMatchingInlineSnapshot($1)
endsnippet

snippet t "toThrowErrorMatchingSnapshot" "around_expect(snip)" we
toThrowErrorMatchingSnapshot($1)
endsnippet

snippet tb "toBe" "around_expect(snip)" we
toBe($1)
endsnippet

snippet tb "toBeCloseTo" "around_expect(snip)" we
toBeCloseTo($1)
endsnippet

snippet tb "toBeDefined" "around_expect(snip)" we
toBeDefined($1)
endsnippet

snippet tb "toBeFalsy" "around_expect(snip)" we
toBeFalsy($1)
endsnippet

snippet tb "toBeGreaterThan" "around_expect(snip)" we
toBeGreaterThan($1)
endsnippet

snippet tb "toBeGreaterThanOrEqual" "around_expect(snip)" we
toBeGreaterThanOrEqual($1)
endsnippet

snippet tb "toBeInstanceOf" "around_expect(snip)" we
toBeInstanceOf($1)
endsnippet

snippet tb "toBeLessThan" "around_expect(snip)" we
toBeLessThan($1)
endsnippet

snippet tb "toBeLessThanOrEqual" "around_expect(snip)" we
toBeLessThanOrEqual($1)
endsnippet

snippet tb "toBeNull" "around_expect(snip)" we
toBeNull($1)
endsnippet

snippet tb "toBeTruthy" "around_expect(snip)" we
toBeTruthy($1)
endsnippet

snippet tb "toBeUndefined" "around_expect(snip)" we
toBeUndefined($1)
endsnippet

snippet th "toHaveBeenCalled" "around_expect(snip)" we
toHaveBeenCalled($1)
endsnippet

snippet th "toHaveBeenCalledTimes" "around_expect(snip)" we
toHaveBeenCalledTimes($1)
endsnippet

snippet th "toHaveBeenCalledWith" "around_expect(snip)" we
toHaveBeenCalledWith($1)
endsnippet

snippet th "toHaveBeenLastCalledWith" "around_expect(snip)" we
toHaveBeenLastCalledWith($1)
endsnippet

snippet th "toHaveBeenNthCalledWith" "around_expect(snip)" we
toHaveBeenNthCalledWith($1)
endsnippet

snippet th "toHaveLastReturnedWith" "around_expect(snip)" we
toHaveLastReturnedWith($1)
endsnippet

snippet th "toHaveLength" "around_expect(snip)" we
toHaveLength($1)
endsnippet

snippet th "toHaveNthReturnedWith" "around_expect(snip)" we
toHaveNthReturnedWith($1)
endsnippet

snippet th "toHaveProperty" "around_expect(snip)" we
toHaveProperty($1)
endsnippet

snippet th "toHaveReturned" "around_expect(snip)" we
toHaveReturned($1)
endsnippet

snippet th "toHaveReturnedTimes" "around_expect(snip)" we
toHaveReturnedTimes($1)
endsnippet

snippet th "toHaveReturnedWith" "around_expect(snip)" we
toHaveReturnedWith($1)
endsnippet


priority 3

snippet expect "expect" b
expect($1)
endsnippet

snippet tde "describe" b
describe("$1", () => {
	$2
})
endsnippet

snippet tex "expect" b
expect
endsnippet

snippet tit "it" b
it("$1", () => {
	$2
})
endsnippet
