snippet /* "doc block" b
/**
 * $1
 */
endsnippet

snippet /t "TODO" b
// TODO $0
endsnippet

snippet e "echo" w
echo $1
endsnippet

snippet pe "php echo" b
<?= ${1:false} ?>
endsnippet

snippet ph "<?php" b
<?php

endsnippet

snippet php "<?php?>" b
<?php $1 ?>
endsnippet

snippet hp "?>" b
?>
endsnippet
