snippet A "Added" b
### Added
endsnippet

snippet C "Changed" b
### Changed
endsnippet

snippet D "Removed" b
### Removed
endsnippet

snippet Depr "Deprecated" b
### Deprecated
endsnippet

snippet F "Fixed" b
### Fixed
endsnippet

snippet S "Security" b
### Security
endsnippet
