snippet jde "json_decode(): mix, null" w
json_decode($1)
endsnippet

snippet jem "json_last_error_msg(): string, false" w
json_last_error_msg($1)
endsnippet

snippet jen "json_encode(): string, false" w
json_encode($1)
endsnippet

snippet jle "json_last_error(): int" w
json_last_error($1)
endsnippet
