snippet ia "is_array" w
is_array($$1)
endsnippet

snippet ib "is_bool" w
is_bool($$1)
endsnippet

snippet id "is_double" w
is_double($$1)
endsnippet

snippet ii "is_int" w
is_int($$1)
endsnippet

snippet io "is_object" w
is_object($$1)
endsnippet

snippet iof "instanceof" w
$$1 instanceof ${2:\stdClass}
endsnippet

snippet ire "is_resource" w
is_resource($$1)
endsnippet

snippet is "is_string" w
is_string($$1)
endsnippet
