global !p
import re
def singular(word):
	return re.sub(r'(s|es)$', '', word)
endglobal

snippet fo "fo" b
for (const `!p snip.rv = singular(t[1])` of ${1}) {
}
endsnippet

snippet for "for" b
for (let ${1}; $1${2}; $1++) {
}
endsnippet

snippet wh "while" b
while (${1:true}) {
}
endsnippet
