snippet c> "const" Aw
const $1 = ($2) => {$3};
endsnippet

snippet c= "const" Aw
const $1 = $2;
endsnippet

snippet ca> "const" Aw
const $1 = async ($2) => {$3};
endsnippet

snippet caw "const" w
const $1 = await $2;
endsnippet

snippet cf* "const" Aw
const $1 = function* ($2) {
};
endsnippet

snippet cyi "const" w
const $1 = yield $2;
endsnippet
