snippet cuf "call_user_func" w
call_user_func($1)
endsnippet

snippet cufa "call_user_func_array" w
call_user_func_array($1)
endsnippet

snippet fga "func_get_args" w
func_get_args($1)
endsnippet

snippet fna "func_num_args" w
func_num_args($1)
endsnippet
