
snippet ta "to array" w
(array) $0
endsnippet

snippet tb "to bool" w
(bool) $0
endsnippet

snippet td "to double" w
(double) $0
endsnippet

snippet ti "to int" w
(int) $0
endsnippet

snippet to "to object" w
(object) $0
endsnippet

snippet ts "to string" w
(string) $0
endsnippet

snippet tn "to null" w
(unset) $0
endsnippet
