snippet em "empty" w
empty($1)
endsnippet

snippet inu "is_numeric" w
is_numeric($$1)
endsnippet

snippet i "isset" w
isset($1)
endsnippet

snippet irt "is resource type" w
is_resource($$1) && get_resource_type($$1) === '$2'
endsnippet

snippet nem "not empty" w
!empty($1)
endsnippet
